<% layout('./layout/boilerplate') %>
<link rel="stylesheet" href="/public/stylesheets/home.css">
<body>
    <h1 class="glow-font">WELCOME TO SSN CLUBS</h1>
    <p>Register and login to know More</p>
    <div class="btn">
        <div class="btn1">   
     <a href="/register"><button class="button-64 " role="button"><span class="text">Register</span></button></a>
        </div>
        <div class="btn2">
     <a href="/login"><button class="button-64" role="button"><span class="text">Login</span></button></a>
        </div>
    </div>
    

</body>