<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<style>

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container
{

    position: relative;
    min-height: 100vh;
    background: #000;
    background-image: url('https://images.unsplash.com/photo-1616004675303-ae5657c14af7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    padding-left: 10px;
}
.container h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
.container .image-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 60px;
}
.container .image-container .image{
    height: 350px;
    width: 350px;
    border: 8px solid grey;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
}
.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .image-container .image:hover img{
    transform: scale(1.1);
}
.container .popup-image
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container .popup-image img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 15px;
    width: 750px;
    object-fit: cover;
}

@media(max-width:768px) {
    .container .popup-image img{
        width: 95%;
    }
}

</style>
<body>
    <div class="container">
        <h1>Image Gallery</h1>
        <div class="image-container">
        <% if(clubsss.clubImages) {%> 
         <%  clubsss.clubImages.forEach((img,i)=>{%> 
            <div class="image"><img src="<%=img.url%>" alt=""></div>
            <% }) %> 
            <% } %> 
        </div>
         <div class="popup-image">
            <span>&times;</span>
            <img src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
         </div>
  
    </div>
<script>
    document.querySelectorAll('.image-container img').forEach(image=>{
        image.onclick = () =>{
            document.querySelector('.popup-image').style.display = 'block';
            document.querySelector('.popup-image img').src = image.getAttribute('src');
        }
    });
    document.querySelector('.popup-image span').onclick = () =>{
        document.querySelector('.popup-image').style.display = 'none'; 
    }
</script>
</body>
</html>